name: Build and Test
on:
  push:
    branches:
      - main
    pull_request:

  jobs:
    lint:
      name: Lint
      runs-on: ubuntu-latest
      steps:
        - uses: actions/setup-go@v2
          with:
            go-version: 1.16

        - uses: actions/checkout@v2

        - name: Lint Go code
          run: |
            go get -u golang.org/x/lint/golint
            make lint
